<div class="mycontainer">
  <div class="overlay" id="overlay"></div>
    <div *ngIf="responsables.length != 0">
        <h3>La Liste Des responsables</h3>
        <br>
        <table class="min-w-full table-auto">
          <thead class="justify-between">
            <tr class="bg-gray-800">
              
              <th class="px-16 py-2">
                <span class="text-gray-300">Nom</span>
              </th>
              <th class="px-16 py-2">
                <span class="text-gray-300">Prenom</span>
              </th>
              <th class="px-16 py-2">
                <span class="text-gray-300">Gmail</span>
              </th>
  
              
              <th class="px-16 py-2">
                <span class="text-gray-300">CIN</span>
              </th>
  
              <th class="px-16 py-2">
                <span class="text-gray-300">phone</span>
              </th>
              <th class="px-16 py-2">
                <span class="text-gray-300">Sexe</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-200">
            <tr *ngFor="let responsable of responsables | paginate : config"class="bg-white border-4 border-gray-200">
              <td class="px-16 py-2 flex flex-row items-center">
                {{responsable.nom}}
              </td>
              <td class="px-16 py-2">
                {{responsable.prenom}}
              </td>
              <td class="px-16 py-2">
                {{responsable.gmail}}
              </td>
              <td class="px-16 py-2">
                {{responsable.cin}}
              </td>
  
              <td class="px-16 py-2">
                {{responsable.phone}}
              </td>
              <td class="px-16 py-2">
                {{responsable.sexe}}
              </td>
            </tr>
            
          </tbody>
        </table>
        <pagination-controls id="basicPaginate" (pageChange)="pageChanged($event)"></pagination-controls>
        <button (click)="onOpenModal()">click</button>
    </div>
    <div *ngIf="responsables.length == 0"  class="mycontainer">
        <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/v2/assets/empty.svg" >
        <br><br>
        <h5>No Results Found</h5>
    </div>


    <div class="mymodal" id="modal" >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close" (click)="onCloseModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Creer Responsable</h4>
             
            </div>
            <div class="d-flex flex-column text-center">
              <form>
                <div class="form-group">
                  <input [(ngModel)]="createRespoRequest.gmail" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="email1"placeholder="Your email address...">
                </div>
                <div class="form-group">
                  <input [(ngModel)]="createRespoRequest.nom" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="password1" placeholder="Your password...">
                </div>
                <button (click)="creerRespo()" type="button" class="btn btn-info btn-block btn-round"  >Login</button>
              </form>
              
              
          
      </div>
    </div>
  </div>
</div>
</div>

        



</div>

