<form action="" >
    <div class="form_container">

        <div class="general_info" id="general_info">

            <h2>Informations générale</h2>
            <input [(ngModel)]="signRequest.cin" [ngModelOptions]="{standalone: true}" type="text" name="cin" id="cin" placeholder="CIN" required><br>

            <input [(ngModel)]="signRequest.nom" [ngModelOptions]="{standalone: true}" type="text" name="nom" id="nom" placeholder="Nom" required><br>

            <input [(ngModel)]="signRequest.prenom" [ngModelOptions]="{standalone: true}" type="text" name="prenom" id="prenom" placeholder="Prénom" required><br>

            <input [(ngModel)]="signRequest.phone" [ngModelOptions]="{standalone: true}" type="text" name="tele" id="tele" placeholder="numéro de téléphone" required><br>


            <input type="date" name="birthdate" id="birthdate" placeholder="Birthdate" ><br>

            <label for="male">Homme</label> <input [(ngModel)]="signRequest.sexe" type="radio" name="sex" id="male" value="male">
            <label for="female">Femme</label> <input [(ngModel)]="signRequest.sexe" type="radio" name="sex" id="female" value="female"><br>

            

            <br>

        </div>

        <div class="signup_info" id="signup_info">
            
            <h2>Informations d'inscription</h2>

            <input [(ngModel)]="signRequest.gmail" [ngModelOptions]="{standalone: true}" type="email" name="email" id="email" placeholder="Email" required><br>

            <input [(ngModel)]="signRequest.password" [ngModelOptions]="{standalone: true}" type="password" name="password" id="password" placeholder="Password" required><br>

            <input  type="password" name="password_confirmation" id="password_confirmation" placeholder="Password Confirmation" required><br>

            <input  type="radio" name="accept" id="accept" required><label for="accept">J'accepte les termes et les conditions du site Web.</label>

            <input type="submit" value="S'inscrire" id="signup_btn" (click)="onSignUp()">

        </div>

    </div>
</form>
