<div class="w-full    bg-gray-100 mb-10">
        

  <div class="flex items-center justify-center px-5 pb-10 pt-16">
     <div class="flex w-full mx-auto rounded-xl bg-white shadow-lg p-2 text-gray-700">
       <div class="w-full ">
         <div class="w-full pt-1 pb-5">
           <div class="bg-indigo-500 text-white -mt-16 overflow-hidden rounded-full w-20 h-20  mx-auto shadow-lg flex justify-center items-center">
               
             <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 animate-spin" viewBox="0 0 20 20" fill="currentColor">
               <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
             </svg>
               
           </div>
         </div>
         <div class="mb-6">
             <h1 class="text-center font-bold text-xl uppercase">Last five transactions</h1>
         </div>

         <div class="container">
          <h2>Responsive Tables Using LI <small>Triggers on 767px</small></h2>
          <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">Job Id</div>
              <div class="col col-2">Customer Name</div>
              <div class="col col-3">Amount Due</div>
              <div class="col col-4">Payment Status</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="Job Id">42235</div>
              <div class="col col-2" data-label="Customer Name">John Doe</div>
              <div class="col col-3" data-label="Amount">$350</div>
              <div class="col col-4" data-label="Payment Status">Pending</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="Job Id">42442</div>
              <div class="col col-2" data-label="Customer Name">Jennifer Smith</div>
              <div class="col col-3" data-label="Amount">$220</div>
              <div class="col col-4" data-label="Payment Status">Pending</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="Job Id">42257</div>
              <div class="col col-2" data-label="Customer Name">John Smith</div>
              <div class="col col-3" data-label="Amount">$341</div>
              <div class="col col-4" data-label="Payment Status">Pending</div>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="Job Id">42311</div>
              <div class="col col-2" data-label="Customer Name">John Carpenter</div>
              <div class="col col-3" data-label="Amount">$115</div>
              <div class="col col-4" data-label="Payment Status">Pending</div>
            </li>
          </ul>
        </div>
         
     </div>
   </div>
  </div>

  <div class="flex items-center justify-center px-5 pb-10 pt-16">
   <div class="flex w-full mx-auto rounded-lg  shadow-lg p-5 text-gray-700 bg-gray-200">
     <div class="w-full ">
       <div class="w-full pt-1 pb-5">
         <div class="bg-indigo-500 text-white overflow-hidden rounded-full w-20 h-20 -mt-20 mx-auto shadow-lg flex justify-center items-center">
           <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 animate-spin" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z" />
           </svg>  
         </div>
       </div>
       <div>
        <h1 class="text-center font-bold text-xl uppercase">Last five transactions</h1>
      </div>
       <div class="flex-col h-full justify-center items-center    lg:py-1  py-4">
        <div class="lg:flex lg:space-x-4 ">  
        <div *ngFor="let eticket of etickets | paginate : config" class="w-full lg:w-1/2 h-62 bg-white rounded-xl flex shadow-2xl mb-2">
            
               <div class="w-3/4 check bg-gray-900 rounded-xl flex ">
                  <div class="lg:w-3/4 w-5/6 ">

                     <div class="text-5xl lg:text-7xl font-extrabold">
                      Tram <br> Way
                     </div>
                     <div class=" flex space-x-5 ">
                         <h1 class="number">#{{eticket.id}}</h1>
                         <section class="ml">
                           <div class="text-red-300 ">Status</div>
                           <div class="bg-green-300 rounded-xl p-1 font-bold text-gray-500">{{eticket.status}}</div>
                         </section>

                      </div>          
                 </div>
                 <div class="ml-4 space-y-1 lg:w-1/4 w-1/6">
                     <section>
                        <div class="text-red-300">Date</div>
                        <div>{{eticket.date}}</div>
                     </section>
                     <section>
                         <div class="text-red-300">Prix</div>
                         <div>{{eticket.prix}}</div>
                     </section>
                     <section>
                         <div class="text-red-300">Ligne</div>
                         <div>{{eticket.prix}}</div>
                     </section>
               
                  </div>
              </div>
              <div class="w-1/4 flex flex-col justify-center">
                <ngx-qrcode  class="flex-col justify-center"
                    [value]="value"
                    cssClass="aclass"
                    errorCorrectionLevel="L">
                </ngx-qrcode>
              </div>

          </div>
        </div> 
        <div class="flex justify-center mt-16">
          <pagination-controls id="basicPaginate" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
        </div>      
     </div>
   </div>
</div>


  </div>