.mycontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgb(235,191,179);
}

.mycontainer .form-container{
    background-color: white;
    width:500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 20px;
}

img,h3,input,button{
    margin : 16px 0px;
}

.mycontainer .form-container form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width:100px;
}